export JUNCTION_HOME=$(pwd)
export CALADAN_HOME=${JUNCTION_HOME}/lib/caladan
export DEFAULT_CONFIG_PATH=${JUNCTION_HOME}/build/junction/caladan_test.config

export JUNCTION_RUN=${JUNCTION_HOME}/build/junction/junction_run
export JUNCTION_RUN_DEBUG=${JUNCTION_HOME}/build-debug/junction/junction_run
export IOKERNELD=${CALADAN_HOME}/iokerneld

export PATH=${PATH}:$(pwd)/scripts
export PATH=${PATH}:$(pwd)/scripts/viz

# add junction-ctl
export PATH=$(pwd)/build/junction-ctl:$(pwd)/build-debug/junction-ctl:${PATH}

export CC=gcc
export CXX=g++
