build/**
build-debug/**
bin/**
perf_*/**
Testing/**
*.d
*.o
*.a
[._]*.sw[a-p]
*~
.cproject
.project
.vscode
**/*.DS_Store
lib/.caladan_installed_ver
lib/.glibc_installed_ver
*.snapshot
*.elf
*.metadata
