[submodule "lib/shenango"]
	path = lib/caladan
	url = git@github.com:abelay/shenango.git
	ignore = dirty
[submodule "lib/glibc"]
	path = lib/glibc
	url = https://sourceware.org/git/glibc.git
	ignore = dirty
[submodule "lib/FlameGraph"]
	path = lib/FlameGraph
	url = https://github.com/brendangregg/FlameGraph.git
	ignore = dirty
