build/**
build-debug/**
bin/**
install/**
perf_*/**
Testing/**
results/**
*.d
*.o
*.a
[._]*.sw[a-p]
*~
.cproject
.project
.vscode
**/*.DS_Store
lib/.caladan_installed_ver
lib/.glibc_installed_ver
lib/.jiftools_installed_ver
*.snapshot
*.elf
*.metadata

lib/node

chroot/**

junction/control/control_request_generated.h
junction/control/control_response_generated.h
junction-ctl/src/control_request_generated.rs
junction-ctl/src/control_response_generated.rs

._*

run.202*
