[submodule "lib/shenango"]
	path = lib/caladan
	url = git@github.com:abelay/shenango.git
	ignore = dirty
[submodule "lib/syscall_intercept"]
	path = lib/syscall_intercept
	url = https://github.com/pmem/syscall_intercept.git
	ignore = dirty
